.btn {
  padding: 0.5rem 2rem;
  color: var(--navy);
  border: none;
  background: none;
  cursor: pointer; /* Mouse pointer on hover */
}

.div {
  height: 3rem;
}

.footer {
  background-color: var(--yellow);
  width: 100%;
  max-width: 1720px;
}

.footer section {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    width: 60rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer a {
  padding: 0.5rem 1rem;
  color: var(--navy);
  justify-content: center;
  width: 100%;
}

.footer li {
  list-style-type: none;
}

.navbar {
  background-color: var(--yellow);
  width: 100%;
  max-width: 1720px;
}

.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  width: 60rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navlinks li {
  padding: 0.5rem 1rem;
  color: var(--navy);
  justify-content: center;
  width: 100%;
}

.navlinks__mobile {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks__mobile li {
  padding: 0.5rem 1rem;
  color: var(--navy);
  justify-content: center;
  width: 100%;
}

.grid {
  position:relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0rem;
  margin: 0rem;
  min-height:100%;
  position:relative;
}

.grid__navbar {
  align-self: center;
  margin: 0rem 0rem;
  padding: 0rem 0rem;
  flex-basis: content;
  flex-shrink: 1;
  width: 100%;
}

.grid__footer {
  width:100%; 
  align-self: center;
  margin-top: auto;
  padding: 0rem 0rem;
  flex-basis: content;
  flex-shrink: 0;
}

.grid__main {
  align-self: center;
  margin: 2rem 0rem;
  padding: 0rem 0rem;
  flex-basis: content;
  flex-shrink: 2;
}


