.container {
  background-color: rgb(67, 201, 235)
}

.container__ul{
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  width: 60rem;
  display: flex;
  align-items: center;
}

.container__ul li {
  padding: 0.5rem 1rem;
  color: rgb(38, 40, 63);
  justify-content: center;
}


